{% extends 'base.html.twig' %}

{% block title %}Listado de tareas{% endblock %}

{% block body %}
    <h1>Listado de tareas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td class="text-center">
                    <a class="text-dark"  href="{{ path('app_tarea_show', {'id': tarea.id}) }}"><i class="bi-eye"></i></a>
                    <a class="text-dark"  href="{{ path('app_tarea_edit', {'id': tarea.id}) }}"><i class="bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se ha encontrado ninguna tarea.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-primary  ">    
        <a class="text-white" style="text-decoration: none;" href="{{ path('app_tarea_new') }}">Crear Tarea</a>
    </button>

{% endblock %}
